.Imageholder{
width: 200px;
height:200px;
background-color:blue;
border-radius:50%;
border:8px solid black;
overflow: hidden;


}
#Profileimage{
    height:100%;
    width:100%;
    object-fit: cover;
}
.info{
    background-color: black;
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
}
#heading{
    color:aquamarine;
    text-align: center;
    font-family:sans-serif;
    background-color:black;
}
.aboutme{
    background-color: black;
    color:white;
}
#myskills{
    background-color: black;
    color:white;
}
#mycontact{
    background-color: black;
    color:white;
}